NODE_ENV=development
PORT=4000

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/orbit360

# MongoDB
MONGO_URI=mongodb://localhost:27017/orbit360

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=change_me_in_production

# FShip
FSHIP_BASE_URL=https://api.fship.in
FSHIP_WEBHOOK_SECRET=get_this_from_fship_dashboard
